<ion-view view-title="Accounts">

 
    <ion-content>

        <h1>Test page </h1>

        <button class="button button-calm" ng-click="getContact()">   Get Contact </button>       

        <button class="button button-calm  button-small" ng-click="go('howMuch')"> HowMuch</button>
        <button class="button button-calm  button-small" ng-click="go('login')"> Login Page</button>
        <button class="button button-calm button-small" ng-click="go('signup')"> Signup Page</button>


    </ion-content>
</ion-view>
