<ion-view view-title="History">

    <ion-tabs class="tabs-calm tabs-top tabs-icon-top">
        <ion-tab title="Completed" icon-on="ion-checkmark-circled" icon-off="ion-checkmark-circled">

            <br>
            <br>
            <br>
            <br>
            <h3> Completed tab </h3>
        </ion-tab>
        <ion-tab title="Pending" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <br>
            <br>
            <br>
            <br>
            <h3> Pending tab</h3>
        </ion-tab>
    </ion-tabs>

<!--<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <i class="icon ion-checkmark-circled"></i>
                Compleated
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios-clock"></i>
                Pending
            </a>
        </div>
    </div>-->     
    <ion-content>

        <h1> Not Showing this One  </h1>


    </ion-content>
</ion-view>
