<ion-view view-title="Login">
    <!--<ion-header-bar align-title="center">

    </ion-header-bar>-->
    <ion-content>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <img src="../img/nooch-logo.svg" class="title-image" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <b>  Sign Up With</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <button class="button button-block icon-pulling ion-social-facebook button-calm">
                        Log in with Facebook
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    Or...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <form id="frmLogin" data-parsley-validate="">
                        <div class="card">
                            <div class="list">

                                <label class="item item-input">
                                    <span class="input-label calm">Email</span>
                                    <input ng-model="loginData.email" type="text" class="form-control" placeholder="example@email.com" data-parsley-type="email" data-parsley-type-message="*" data-parsley-email-message="*" data-parsley-required data-parsley-required-message="*">
                                </label>
                                <label class="item item-input">
                                    <span class="input-label calm">Password</span>
                                    <input ng-model="loginData.pwd" type="password" placeholder="Password" class="form-control" data-parsley-minlength="6" data-parsley-minlength-message="*" data-parsley-required data-parsley-required-message="*">
                                </label>
                                <label class="item item-input">
                                    <label class="toggle row-center">
                                        <input type="checkbox" ng-model="loginData.rmmbrMe.val">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label> Remember Me
                                </label>
                            </div>
                        </div>
                        <button type="button" class="btn button-block btn-gray" ng-click="SignIn()" value="validate"><i class="ion-log-in"></i> &nbsp; &nbsp;Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    Don't have account ? <a href="#/signup">Sign Up Here</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <div class="ion-android-arrow-dropright-circle balanced button-large"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>