<ion-view>
    <!--<ion-header-bar align-title="center">



    </ion-header-bar>-->

    <ion-content>




        <div class="row">


            <div class="col col-center">
                <div class="text-center">
                    <img src="../img/nooch-logo.svg" class="title-image" />

                </div>
            </div>
        </div>

        <div class="row">


            <div class="col col-center">
                <div class="text-center">
                    <b>  Sign Up With</b>
                </div>

            </div>
        </div>
        <div class="row">


            <div class="col col-center">
                <div class="text-center">
                    <button class="button button-large icon-left ion-social-facebook button-calm">
                        Facebook
                    </button>

                </div>
            </div>
        </div>

        <div class="row">


            <div class="col col-center">
                <div class="text-center">

                    Or...


                </div>
            </div>
        </div>


        <div class="row">


            <div class="col col-center">
                <div class="text-center">

                    <div class="card">
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label calm">Full Name</span>
                                <input type="text" placeholder="i.e Abe Licoln">
                            </label>
                            <label class="item item-input">
                                <span class="input-label calm">Email</span>
                                <input type="email" placeholder="example@email.com">
                            </label>
                            <label class="item item-input">
                                <span class="input-label calm">Password</span>
                                <input type="password" placeholder="Password">
                            </label>
                            <label class="item item-input">
                                <label class="toggle row-center">
                                    <input type="checkbox">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label> I agree to Nooch's Term of Services.
                            </label>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="row">


            <div class="col col-center">
                <div class="text-center">

                    


                </div>
            </div>
        </div>
        <div class="row">


            <div class="col col-center">
                <div class="text-center">

                    


                </div>
            </div>
        </div>


        <div class="row">


            <div class="col col-center">
                <div class="text-center">

                    Already a member? <a href="#">Sign in Here</a>


                </div>
            </div>
        </div>

        <div class="row">


            <div class="col col-center">
                <div class="text-center">
                    <div class="ion-android-arrow-dropright-circle balanced button-large"></div>
                    


                </div>
            </div>
        </div>



        
    </ion-content>
</ion-view>