<ion-view>
    <!--<ion-header-bar align-title="center">

    </ion-header-bar>-->
    <ion-content>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <img src="../img/nooch-logo.svg" class="title-image" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <b>  Sign Up With</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <button class="button button-block icon-pulling ion-social-facebook button-calm">
                       Log in with Facebook
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    Or...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <div class="card">
                        <div class="list">
                            
                            <label class="item item-input">
                                <span class="input-label calm">Email</span>
                                <input type="email" placeholder="example@email.com">
                            </label>
                            <label class="item item-input">
                                <span class="input-label calm">Password</span>
                                <input type="password" placeholder="Password">
                            </label>
                            <label class="item item-input">
                                <label class="toggle row-center">
                                    <input type="checkbox">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label> Remember Me
                            </label>
                            <button type="button" class="button button-block button-dark">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col col-center">
                <div class="text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    Don't have account ? <a href="/signup" ui-shref="signup">Sign Up Here</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <div class="ion-android-arrow-dropright-circle balanced button-large"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>