
<ion-view view-title="my Profile">
    <ion-content>

        <div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Security Setting</h6>
        </div>

        <br>
        <br />

        <div class="list">
            <div class="item">PIN </div>
            <div class="item ItemBlack">Change Pin <i class="ion-chevron-right FloatRight"></i> </div>

            <div class="item item-toggle ItemBlack">
                Require PIN Immediately
                <label class="toggle toggle-calm">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <div>
                <p class="text-center" style="padding-top:10px; padding-bottom:5px">Require your PIN to enter the app.</p>

                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
            </div>
            <div class="item"> Change Password <i class="ion-chevron-right FloatRight"></i></div>
            <br>
            <br>
            <div>
                <div class="item">Privacy</div>
            </div>
            <div class="item item-toggle ItemBlack">
                Show In Search
                <label class="toggle toggle-calm">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="text-center">
                <p style="padding-left:10px;">Show up when other members serach for <br>people nearby to send or request money. </p>
            </div>

        </div>


    </ion-content>
</ion-view>
