<ion-view view-title="selectRecipient">

    <ion-tabs class="tabs-striped tabs-top tabs-icon-left tabs-background-positive tabs-color-light">
        <ion-tab title="Completed" icon-on="ion-checkmark-circled" icon-off="ion-checkmark-circled">

            <br /><br />
            <br />
            <br />
            <br />
            <div class="history-list">

                <a class="item item-avatar" href="#">
                    <img src="../img/profile_picture.png">

                    <div class="name">Abe Lincoln</div>

                    <p class="memo-container">For "<span class="memo-text">Back off, man. I'm a scientist.</span>"</p>

                    <div class="typeDateContainer">
                        <label class="transTypeLabel sent">Transfer To</label>
                        <h5 class="date"><i class="ion-android-time m-r-5"></i>July 4, 2016</h5>
                    </div>

                    <span class="item-note amount">$50.00</span>
                </a>

                <a class="item item-avatar item-icon-right" href="#">
                    <img src="../img/RoundLoading.png">

                    <div class="name">Joe Schmoe</div>

                    <p class="memo-container">For "<span class="memo-text">Back off, man. I'm a scientist.</span>"</p>

                    <div class="typeDateContainer">
                        <label class="transTypeLabel received">Transfer From</label>
                        <h5 class="date"><i class="ion-android-time m-r-5"></i>July 4, 2016</h5>
                    </div>

                    <span class="item-note amount">$50.00</span>
                </a>

                <a class="item item-avatar item-icon-right" href="#">
                    <img src="../img/profile_picture.png">

                    <div class="name">Tim Duncan</div>

                    <p class="memo-container">For "<span class="memo-text">Back off, man. I'm a scientist.</span>"</p>

                    <div class="typeDateContainer">
                        <label class="transTypeLabel neutral">Request From</label>
                        <h5 class="date"><i class="ion-android-time m-r-5"></i>July 4, 2016</h5>
                    </div>

                    <span class="item-note amount">$50.00</span>
                </a>

                <button type="button" id="export-btn" class="btn btn-primary"><i class="ion-ios-cloud-download"></i>Export</button>

            </div>
        </ion-tab>

        <ion-tab title="Pending" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <br>
            <br>
            <br>
            <br>
            <h3> Pending tab</h3>
        </ion-tab>
    </ion-tabs>

</ion-view>
