<ion-view view-title="Settings">
    <ion-content>



        <div class="card cardBgColor">
            <h4>Linked Banked Account </h4>
            <p>Attach bank to send or receive payments. Just select your bank, login to your online banking, and you're done.</p>
            <br>
            <button class="button button-full button-calm"><i class="ion-plus"></i>&nbsp;&nbsp;&nbsp;Link Bank Now </button>
        </div>

        <div class="list">
            <div class="item"><i class="ion-person"></i>&nbsp;&nbsp;&nbsp;My Profile <i class="ion-chevron-right FloatRight"></i></div> 
            <div class="item"><i class="ion-locked"></i>&nbsp;&nbsp;&nbsp;Security Setting <i class="ion-chevron-right FloatRight"></i></div>
            <div class="item"><i class="ion-ios-bell"></i>&nbsp;&nbsp;&nbsp;Notification Setting <i class="ion-chevron-right FloatRight"></i></div>
            <div class="item"><i class="ion-social-facebook"></i>&nbsp;&nbsp;&nbsp;Social Setting <i class="ion-chevron-right FloatRight"></i></div>
        </div>

        <button type="button" class="button btnColorGray button-block"><i class="ion-log-out"></i>&nbsp;&nbsp;&nbsp;Sign Out</button>

          

</ion-content>
</ion-view>
