<ion-view>
    <!--<ion-header-bar align-title="center">
    </ion-header-bar>-->
    <ion-content>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <img src="../img/nooch-logo.svg" class="title-image" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <b>  Sign Up with</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <button class="button button-block icon-pulling ion-social-facebook button-calm">
                        &nbsp;&nbsp; Facebook
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    Or...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <form id="submitForm" data-parsley-validate="">
                        <!--ng-model="frmSubmit"-->
                        <div class="card">
                            <div class="list">
                                <label class="item item-input">
                                    <span class="input-label calm">Full Name</span>
                                    <input type="text" placeholder="i.e Abe Licoln" ng-model="signupData.Name" class="form-control" data-parsley-minlength="3" data-parsley-minlength-message="*" data-parsley-required data-parsley-required-message="*" data-parsley-pattern="[(a-zA-Z)] [(a-zA-Z)]+$" data-parsley-pattern-message="*">
                                </label>
                                <label class="item item-input">
                                    <span class="input-label calm">Email</span>
                                    <input type="text" placeholder="example@email.com" class="form-control" data-parsley-type="email" data-parsley-type-message="*" data-parsley-email-message="*" data-parsley-required data-parsley-required-message="*">
                                </label>
                                <label class="item item-input">
                                    <span class="input-label calm">Password</span>
                                    <input type="password" placeholder="Password" class="form-control" data-parsley-minlength="6" data-parsley-minlength-message="*" data-parsley-required data-parsley-required-message="*">
                                </label>
                                <label class="item item-input">
                                    <label class="toggle row-center">
                                        <input type="checkbox" id="ckBox" class="form-control" data-parsley-required="" data-parsley-checkmin="1" data-parsley-required-message="*">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label> I agree to Nooch's Term of Services.

                                </label>
                            </div>
                        </div>
                        <button type="button" ng-click="signUpClick()" class="button button-block button-calm" value="validate"><i class="ion-person-add"></i> &nbsp; &nbsp; Signup</button>
                    </form>
                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    Already a member?
                    <a href="#" ng-click="gotoSignInPage()" ><i class="button icon ion-key"></i>  Sign in Here</a>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="text-center">
                    <div class="ion-android-arrow-dropright-circle balanced button-large"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>