<ion-view view-title="Statistics">
    <ion-content>

        <div class="card">
            <div class="list">
                <div class="item text-center" style="line-height:60px;">
                    <span class="IconGreeen">
                        <i class="ion-cash"></i>
                    </span>
                    <span class="IconBasicBlue">
                        <i class="ion-person"></i>
                    </span>
                    <span class="IconBasicBlue">
                        <i class="ion-ios-people"></i>
                    </span>
                    <h2><b>Transfer Stats</b></h2>
                </div>

                <div class="item ItemCList">Totel Compleated Payments <span class="badge badge-calm">0</span></div>

                <div class="item ItemCList">Payments Sent <span class="badge badge-calm">0</span></div>

                <div class="item ItemCList">Totel Sent <span class="badge badge-calm">$ 0</span></div>

                <div class="item ItemCList">Payments Received <span class="badge badge-calm">0</span></div>

                <div class="item ItemCList">Totel Received <span class="badge badge-calm">$ 0</span></div>

                <div class="item ItemCList">Largest Transfer Sent <span class="badge badge-calm">0</span></div>

                <div class="item ItemCList">Largest Transfer Received <span class="badge badge-calm">0</span></div>

            </div>
        </div>
        <div class="text-center">
            <div class="button button-calm"><i class="ion-ios-cloud-download"></i> &nbsp;&nbsp;Export Account History</div>
        </div>
    </ion-content>
</ion-view>
