
<ion-view view-title="Recent Recipient">


    <div class="bar bar-header bar-calm">
        <button class="button ion-chevron-left" ng-click="GoBack()"></button>
        <h6 class="title">Recent Recipient</h6>
    </div>

    <br>
    <br />


    <ion-tabs class="tabs-striped tabs-top tabs-icon-left tabs-background-positive tabs-color-light">
        <ion-tab title="Recent" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">

            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="item-divider">Recent List</div>
            <div>
                <div class="list">

                </div>
                <div>
                    <div class="card">
                        <div class="list">
                            <a class="item item item-avatar" href="#">
                                <img class="user-img" src="https://goo.gl/zK7SNE">
                                <div class="name">
                                    Abe Lincoln
                                </div>
                                <p class="text-primary item-note"> Nooch Icon</p>
                            </a>
                            <a class="item item-avatar" href="#">
                                <img class="user-img" src="../img/profile_picture.png">
                                <div class="name">
                                    Abe Lincoln
                                </div>
                                <p class="text-primary item-note"> Nooch Icon</p>
                            </a>
                            <a class="item item item-avatar" href="#">
                                <img class="user-img" src="https://goo.gl/zK7SNE">
                                <div class="name">
                                    Abe Lincoln
                                </div>
                                <p class="text-primary item-note"> Nooch Icon</p>
                            </a>

                            <a class="item item-avatar" href="#">
                                <img class="user-img" src="https://goo.gl/zK7SNE">
                                <div class="name">
                                    Abe Lincoln
                                </div>
                                <p class="text-primary item-note"> Nooch Icon</p>
                            </a>

                        </div>
                    </div>
                </div>

            </div>

        </ion-tab>

        <ion-tab title="Pending" icon-on="ion-location" icon-off="ion-location">
            <br>
            <br>
            <br>
            <br>
            <h3> Pending tab</h3>
        </ion-tab>
    </ion-tabs>


    <ion-content>
    </ion-content>
</ion-view>
