<ion-view view-title="Home" cache-view="false">
    <ion-content scroll="false">

        <br />

        <div id="fav-container" ng-class="{'m-t-40' : isBannerShowing}">
            <hscroller>
                <hcard ng-repeat="item in FavoritesToDisplay track by $index" ng-click="openFilterChoices(item)" index="{{$index}}" desc="{{item.FirstName}}" image="{{item.Photo}}"></hcard>
            </hscroller>
        </div>

        <div class="row">
            <div class="col p-10">
                <button id="searchMoreFriends" type="button" class="btn btn-success button-block animated fadeIn" ng-click="goToSelectRecip()"><i class="ion-person-add"></i>&nbsp;Search For More Friends</button>
            </div>
        </div>

    </ion-content>
</ion-view>
