<ion-view view-title="Settings">
    <ion-content class="b-gray">

        <div id="settings_cntnr">

            <div class="section-header m-t-20">
                <span>Linked Banked Account</span>
                <span class="alertIcon" ng-if="hasSynapseBank != true || bankData.bankStatus == 'Not Verified'">!</span>
                <button type="button" id="replaceBankBtn" class="pull-right" ng-click="openAddBank()">
                    <i class="ion-ios-plus-circled"></i>
                </button>
            </div>

            <div ng-if="hasSynapseBank != true">
                <!-- WHEN BANK IS NOT LINKED -->
                <div id="bankIntro">
                    <p>Attach a bank account to send or receive payments. Just select your bank, login to your online banking, and you're done.</p>

                    <button class="btn button-block btn-primary m-t-15" ng-click="openAddBank()">
                        <i class="ion-plus-circled m-r-15"></i>Link Bank Now
                    </button>
                </div>
            </div>

            <div ng-if="hasSynapseBank === true && bankData != null">
                <!-- WHEN BANK IS LINKED -->
                <div class="bank-info row">

                    <div class="col col-20 p-l-0">
                        <img class="bank-logo pull-left" src="{{bankData.bankLogoUrl}}" />
                    </div>

                    <div class="col p-l-10">
                        <div id="bank-name"><i class="ion-android-lock" ng-class="{'text-success': bankData.bankStatus == 'Verified', 'text-danger': bankData.bankStatus == 'Not Verified'}"></i>{{bankData.bankName}}</div>
                        <div id="bank-nickname">{{bankData.bankNickname}}</div>
                        <div id="bank-status">
                            Status:
                            <span ng-if="bankData.bankStatus == 'Not Verified'" class="text-danger" ng-click="showBankNotVerifiedModal()">{{bankData.bankStatus}}</span>
                            <span ng-if="bankData.bankStatus == 'Verified'" class="text-success">{{bankData.bankStatus}}</span>
                        </div>

                        <div id="editBankWrapper">
                            <div id="editBnkBtn" class="btn btn-link f-15 text-danger">
                                <span ng-show="editBank == false" ng-click="editBankTapped()">Edit</span>
                                <i ng-show="editBank == true" class="pull-right ion-ios-trash text-danger" ng-click="delBank()"></i>
                            </div>
                        </div>

                    </div>

                </div>

                <div ng-if="bankData.bankStatus === 'Not Verified'">
                    <!-- WHEN BANK IS LINKED, BUT NOT VERIFIED -->
                    <div class="section-note">
                        As an extra security measure, your bank must be verified.
                        <span ng-click="showBankNotVerifiedModal()">&nbsp;Learn more &nbsp;<i class="ion-help-circled text-primary"></i></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn button-block btn-primary" ng-click="openAddBank()">
                            <i class="ion-plus-circled m-r-15"></i>Link New Account
                        </button>
                    </div>
                </div>
            </div>


            <div class="list m-t-25 border-t-b">

                <a class="item item-icon-left item-icon-right" href="#/app/settings/profile">
                    <i class="icon ion-person"></i>My Profile
                    <!-- IF USER'S PROFILE IS NOT VERIFIED-->
                    <div class="animated bounceIn" style="display:inline-block" ng-if="isProfileComplete === false">
                        <span class="alertIcon">!</span>
                    </div>
                    <i class="icon ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#/app/settings/uploadID" ng-if="hasSynapseUserAccount == true && synUserPermission != 'SEND-AND-RECEIVE'">
                    <i class="icon ion-document-text">
                    </i>Upload ID
                    <i class="icon ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#/app/settings/securitySetting">
                    <i class="icon ion-locked"></i>Security Settings
                    <i class="icon ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#/app/settings/notificationSetting">
                    <i class=" icon ion-ios-bell"></i>
                    Notification Settings
                    <i class="icon ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#/app/settings/socialSetting">
                    <i class=" icon ion-social-facebook">
                    </i>Social Settings
                    <i class="icon ion-chevron-right"></i>
                </a>

            </div>

            <div id="sign-out-container">
                <button id="sign-out" type="button" class="btn btn-gray button button-block m-r-10" ng-click="signOut()"><i class="ion-log-out"></i>Sign Out</button>
            </div>

        </div>

        <script id="addBankModal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Add A Bank</h1>
                    <button class="button button-clear button-dark" ng-click="closeAddBank()">Close</button>
                </ion-header-bar>
                <ion-content>
                    <iframe data-tap-disabled="true" src="{{trustedUrl}}" style="width:100%;height:100%"></iframe>
                </ion-content>
            </ion-modal-view>
        </script>

    </ion-content>
</ion-view>