<ion-view view-title="Settings">
    <ion-content class="b-gray">

        <div class="section-header m-t-20">Linked Banked Account<i class="ion-alert-circled text-danger m-l-10"></i></div>

        <!-- WHEN BANK IS NOT LINKED (UNFINISHED) -->
        <div class="bank-info hidden">
            <p>Attach bank to send or receive payments. Just select your bank, login to your online banking, and you're done.</p>
            <br>
            <button class="btn button-block btn-primary m-t-10"><i class="ion-plus"></i>Link Bank Now </button>
        </div>

        <!-- WHEN BANK IS LINKED -->
        <div class="bank-info">

            <img class="bank-logo pull-left m-r-10" src="../img/bank.png" />

            <div>
                <div id="bank-name"><i class="ion-android-lock text-success m-r-10"></i>Bank of America</div>
                <div id="bank-nickname">Personal Checking</div>
                <div id="bank-status">
                    Status:
                    <span class="text-danger">Not Verified</span>
                </div>
                <button type="button" class="btn btn-link pull-right f-14 text-danger" id="edit-bank">Edit</button>
            </div>

        </div>

        <div class="section-note">
            As an extra security measure, your bank must be verified. &nbsp;Learn more &nbsp;<i class="ion-ios-help text-primary"></i>
        </div>

        <div class="list m-t-20">

            <div class="item item-icon-left item-icon-right" ng-click="go('profile')">
                <i class="icon ion-person"></i>My Profile
                <!-- IF NOT VERIFIED-->
                <i class="ion-android-alert text-danger m-l-10 f-24"></i>
                <i class="icon ion-chevron-right"></i>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="go('Security')">
                <i class="icon ion-locked"></i>Security Settings
                <i class="icon ion-chevron-right"></i>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="go('Notification')">
                <i class="icon ion-ios-bell"></i>Notification Settings
                <i class="icon ion-chevron-right"></i>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="go('Social')">
                <i class="icon ion-social-facebook"></i>Social Settings
                <i class="icon ion-chevron-right"></i>
            </div>

        </div>

        <div id="sign-out-container">
            <button id="sign-out" type="button" class="btn btn-gray button button-block"><i class="ion-log-out"></i>Sign Out</button>
        </div>

    </ion-content>
</ion-view>
