<ion-view view-title="Add Picture">
    <ion-content scroll="false">

        <a class="button backButton animated slideInDown" href="#/signup"><i class="ion-android-arrow-dropleft-circle"></i></a>

        <div class="row m-t-neg-20">
            <div class="col p-b-0 text-center">
                <img src="./img/nooch-logo.svg" class="mainLogo" />
                <p class="slogan purp-text m-b-5">Money Made Simple</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">

                <p class="f-30 m-b-15 capitalize">Hey&nbsp;{{signUpData.FirstName}}!</p>

                <div id="picWrap" ng-click="choosePhoto()">
                    <img class="m-b-20 defaultPic" src="./img/RoundLoading.png" ng-if="signUpData.Photo == null || signUpData.Photo == ''" />
                    <img class="m-b-20" src="{{signUpData.Photo}}"  ng-if="signUpData.Photo != null && signUpData.Photo.length > 10" />
                </div>

                <div class="p-l-5 p-r-5">
                    <p class="m-0 f-18">Add a picture so people will be able to identify you better when sending you money. </p>

                    <button class="button btn-primary button-block m-t-25" ng-click="choosePhoto()"><i class="ion-android-camera m-r-15"></i>Choose Picture</button>
                </div>

                <div ng-if="signUpData.Photo != null && signUpData.Photo != ''">
                    <a href="#/createPin" ng-click="isUrlUpdated()" class="button button-clear button-dark p-t-15">I don't want to change my picture...</a>
                </div>

                <div ng-if="signUpData.Photo == null || signUpData.Photo == ''">
                    <a href="#/createPin" class="button button-clear button-dark p-t-15">I don't want to add a picture now...</a>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
