<ion-view view-title="Add Picture">
    <ion-content>

        <a class="button backButton" href="#/signup"><i class="ion-android-arrow-dropleft-circle"></i></a>
        <div class="row">
            <div class="col text-center">
                <img src="./img/nooch-logo.svg" class="mainLogo" />

                <p class="slogan purp-text m-b-5">Money Made Simple</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">

                <p class="f-30 m-b-15">Hey,&nbsp;{{Data.FirstName}}!</p>

                <img class="m-b-20" src="./img/RoundLoading.png" />

                <p class="m-5">Add a picture so people will be able to identify you better when sending you money. </p>

                <button class="button btn-primary button-block m-t-25" ng-click="choosePhoto()"><i class="ion-camera"></i>Choose Picture</button>

                <a href="#/createPin" class="button button-clear button-dark m-t-20">I don't want to add a picture now...</a>

            </div>
        </div>
    </ion-content>
</ion-view>
