<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content>
            <ion-list>
                <div class="item item-avatar side_menu_top">
                    <img class="user-img" src="./img/profile_picture.png">
                    <h2 id="first-name">Cliff</h2>
                    <h3 id="last-name">Canan</h3>
                    <a href="#/app/settings"><i class="ion-gear-a white-text" id="settings-icon"></i></a>
                </div>

                <div class="item item-divider">ACCOUNT</div>

                <ion-item menu-close href="#/app/home">
                    <div class="ion-ios-home">Home <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item menu-close href="#/app/history">
                    <div class="ion-android-time">Transfer History <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item menu-close href="#/app/settings">
                    <!--ng-click="settingsClick()"-->
                    <div class="ion-gear-b">Settings <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item menu-close href="#/app/statistics">
                    <div class="ion-arrow-graph-up-right">Statistics <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <div class="item item-divider">SOCIAL</div>

                <ion-item menu-close href="#/app/referAfriend">
                    <div class="ion-ios-people">Refer a Friend <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item menu-close href="https://itunes.apple.com/us/app/nooch/id917955306?mt=8">
                    <div class="ion-thumbsup">Rate Nooch <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <div class="item item-divider">ABOUT</div>

                <ion-item menu-close href="#/app/howItWorks">
                    <div class="ion-help">How Nooch Works <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item href="" ng-click="showActionSheet('support')">
                    <div class="ion-email">Contact Support <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item menu-close href="#/app/limitsAndFees">
                    <div class="ion-social-usd">Limits &amp; Fees<i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item href="" ng-click="showActionSheet('legal')">
                    <div class="ion-briefcase">Legal Info <i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <ion-item menu-close href="#/app/testPage">
                    <div class="ion-email">Test Pages<i class="ion-chevron-right FloatRight"></i></div>
                </ion-item>

                <div id="btm-section" class="item item-divider text-center">
                    <img src="./img/logo_white.png">
                    <span id="version">Version 2.0.0</span>
                </div>

            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<script id="tosModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Terms of Service</h1>
            <button class="button button-clear button-dark" ng-click="closeTos()">Close</button>
        </ion-header-bar>
        <ion-content>
            <iframe src="https://www.nooch.com/tos"></iframe>
        </ion-content>
    </ion-modal-view>
</script>

<script id="privacyModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Privacy Policy</h1>
            <button class="button button-clear button-dark" ng-click="closePrivacy()">Close</button>
        </ion-header-bar>
        <ion-content>
            <iframe src="https://www.nooch.com/privacy"></iframe>
        </ion-content>
    </ion-modal-view>
</script>
