<ion-view view-title="Reset Pasword">
    <ion-content>
        <br>
        <br>

        <div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Reset Password</h6>
        </div>

        <div class="list text-center">

            <label class="item item-input ItemBlack">
                <input type="text" placeholder="Current Password">
            </label>

            <label class="item item-input">

                <input type="text" placeholder="New Password">
            </label>

            <label class="item item-input">

                <input type="text" placeholder="Confirm New Password">
            </label>
            <br />
            <div class="button button-block button-balanced">Change Password</div>

        </div>


    </ion-content>
</ion-view>
