<ion-view view-title="Transfer Details">
    <ion-content>

        <br>
        <br>

        <div class="bar bar-header">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Transfer Details</h6>
        </div>

        <div class="card text-center">
            <div class="header-item header-item-blue">
                Request Sent To :
            </div>

            <div class="item item-avatar side_menu_top">
                <img class="user-img" src="https://goo.gl/zK7SNE">
                <h1 class="">Abe Lincoln <br>$ 45.00</h1>
            </div>
        </div>

        <div class="card">
            <label class="item item-input">
                <span class="text-center text-primary">"Being an awesome President"</span>
            </label>
        </div>

        <div class="text-center text-success">
            <h2>Pending</h2>
            <h3>Date</h3>
        </div>

        <div style="height:100px;">Map</div>

        <div class="row text-center">
            <div class="col">
                <button class="button btn-primary button-block">Remind</button>
            </div>
            <div class="col">
                <button class="button btn-danger button-block">Cancel</button>
            </div>
        </div>

        <!--For request page-->
        <!-- <div class="row text-center">
             <div class="col">
                 <button class="btn btn-success button-block">Pay</button>
             </div>
             <div class="col">
                 <button class="btn btn-danger button-block">Reject</button>
             </div>
         </div> -->


    </ion-content>
</ion-view>
