<ion-view view-title="Transfer Details">
    <ion-content>

        <div class="row transDetailsHdr">
            <div class="col p-0">

                <div class="row">
                    <div class="label-type {{labelTypeClr}}">{{typeLabelTxt}}</div>
                </div>

                <div class="row">
                    <div class="col col-25">
                        <img class="transDetails-userImg" src="{{transDetail.Photo}}">
                    </div>
                    <div class="col">
                        <h2 class="transDetails-userName">{{transDetail.Name}}</h2>
                        <div class="transDetails-amount">{{transDetail.Amount | currency}}</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row p-0 animated fadeIn" ng-if="transDetail.Memo != null && transDetail.Memo != ''">
            <div class="col">
                <div class="transDetails-memo">"{{transDetail.Memo}}""</div>
            </div>
        </div>

        <div class="row text-center p-15">
            <div class="col">
                <div id="transDetails-status" class="{{transDetail.TransactionStatus}} animated bounceIn delay-1">{{transDetail.TransactionStatus}}</div>
                <div id="transDetails-date">{{transDetail.TransactionDate | date : "MMMM d, y" : "EDT"}}</div>
                <div id="transDetails-time">{{transDetail.TransactionDate | date: "h:mm a" : "EDT"}}</div>
            </div>
        </div>

     
        <div>
            <div ng-show="transDetail.Picture!=null" style="width:50%">
                <img width="100" src="transDetail.Picture" align="left"/>
            </div>

            <div style="width:50%" id="mapRow" ng-show="transDetail.Latitude != '' && transDetail.Longitude != ''">
                <div ng-controller="transferDetailsCtrl as vm">
                    <ng-map zoom="13" center="{{Location.lati}},{{Location.longi}}" style="height:200px"
                            on-center-changed="centerCustomMarker()">
                        <marker position="{{Location.lati}},{{Location.longi}}" on-click="vm.showCustomMarker()"></marker>
                        <marker position="{{Location.lati}},{{Location.longi}}" on-click="vm.showCustomMarker()"></marker>
                        <custom-marker id="foo" position="{{Location.lati}},{{Location.longi}}" on-click="vm.closeCustomMarker()">
                            <div style="background:black">
                                <img width="100" src="https://goo.gl/DAAJG3" align="left" /> Hi, This is test Marker <br />
                                Money made Easy <br />
                            </div>
                        </custom-marker>
                    </ng-map>
                    <div id="mapGeoLabel">{{mapGeoLabelTxt}}</div>
                </div>
            </div>
            
        </div>

        <div class="row text-center m-t-15" ng-if="transDetail.TransactionStatus == 'Pending'">
            <div class="col" ng-if="transDetail.MemberId != memId && transDetail.TransactionType == 'Request'">
                <button class="button btn-primary button-block" ng-click="remindPayment()">Remind</button>
            </div>

            <div class="col" ng-if="transDetail.MemberId != memId && transDetail.TransactionType == 'Request'">
                <button class="button btn-danger button-block" ng-click="cancelPayment()">Cancel</button>
            </div>

            <div class="col" ng-if="transDetail.MemberId == memId && (transDetail.TransactionType == 'Request' || transDetail.TransactionType == 'Rent')">
                <button class=" btn btn-danger button-block" ng-click="rejectPayment()">Reject</button>
            </div>

            <div class="col" ng-if="transDetail.MemberId == memId && (transDetail.TransactionType == 'Request' || transDetail.TransactionType == 'Rent')">
                <button class="btn btn-success button-block" ng-click="TransferMoney()">Pay</button>
            </div>



        </div>

        <div class="row text-center m-t-15" ng-if="transDetail.TransactionStatus == 'Success'">


            <div class="col" ng-if="transDetail.MemberId != memberId && transDetail.TransactionType == 'Request' ">
                <button class="btn btn-success button-block" ng-click="PayBack(transDetail)">Pay Back</button>
            </div>

        </div>

    </ion-content>
</ion-view>
