<ion-view view-title="Transfer Details">
    <ion-content>

        <br>
        <br>

        <!--<div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Transfer Details</h6>
        </div>-->

        <div class="card text-center">
            <div class="header-item header-item-blue" ng-if="   transferDetail.TransactionType=='Transfer' && transferDetail.MemberId==memberId">
                Transfer To:
            </div>
            <div class="header-item header-item-blue" ng-if="  transferDetail.TransactionType=='Transfer' && transferDetail.MemberId!=memberId">
                Transfer From:
            </div>
            <div class="header-item header-item-blue" ng-if="  transferDetail.TransactionType=='Request' && transferDetail.MemberId==memberId">
                Request To:
            </div>
            <div class="header-item header-item-blue" ng-if="  transferDetail.TransactionType=='Request' && transferDetail.MemberId!=memberId">
                Request From:
            </div>
            <div class="header-item header-item-blue" ng-if="  transferDetail.TransactionType=='Invite' && transferDetail.MemberId==memberId">
                Invite To:
            </div>
            <div class="header-item header-item-blue" ng-if="  transferDetail.TransactionType=='Invite' && transferDetail.MemberId!=memberId">
                Invite From:
            </div>
            <div class="header-item header-item-blue" ng-if="  transferDetail.TransactionType=='Rent' && transferDetail.MemberId==memberId">
                Rent To:
            </div>
            <div class="header-item header-item-blue" ng-if="  transferDetail.TransactionType=='Rent' && transferDetail.MemberId!=memberId">
                Rent From:
            </div>


            <div class="item item-avatar side_menu_top">
                <img class="user-img" src="{{transferDetail.Photo}}">
                <h1 class=""> {{transferDetail.Name}} <br>$ {{transferDetail.Amount}}</h1>
            </div>
        </div>

        <div class="card">
            <label class="item item-input">
                <span class="text-center text-primary">{{transferDetail.Memo}}</span>
            </label>
        </div>

        <div class="text-center text-success">
            <h2>{{transferDetail.TransactionStatus}}</h2>
            <h3>{{transferDetail.TransactionDate}}</h3>
          
        </div>

        <div style="height:100px;">Map</div>

        <div class="row text-center" ng-if="transferDetail.TransactionStatus=='Pending'">
            
            <div class="col" ng-if="transferDetail.MemberId==memberId">
                <button class="button btn-primary button-block" ng-click="remindPayment(transferDetail.TransactionId)">Remind</button>
            </div>
            <div class="col" ng-if="transferDetail.MemberId==memberId">
                <button class="button btn-danger button-block" ng-click="cancelPayment(transferDetail.TransactionId)">Cancel</button>
            </div>
            <div class="col" ng-if="transferDetail.MemberId!=memberId">
                <button class="btn btn-danger button-block" ng-click="rejectPayment(transferDetail.TransactionId)">Reject</button>
            </div>
            <div class="col" ng-if="transferDetail.MemberId!=memberId">
                <button class="btn btn-success button-block" ng-click="payPayment(transferDetail.TransactionId)">Pay</button>
            </div>
        </div>

        <!--For request page-->
        <!-- <div class="row text-center">
             <div class="col">
                 <button class="btn btn-success button-block">Pay</button>
             </div>
             <div class="col">
                 <button class="btn btn-danger button-block">Reject</button>
             </div>
         </div> -->


    </ion-content>
</ion-view>
