<ion-view view-title="Profile">
    <ion-content>

        <div class="item item-avatar" style="align-items:center">
            <img src="{{Details.Photo}}" ng-click="choosePhoto()">
            <h2> <span>{{Details.FirstName}}</span>&nbsp;<span>{{Details.LastName}}</span> </h2>
            <h3>Nooch.com</h3>
        </div>


        <div class="list">
            <div class="item item-divider">CONTACT INFO</div>

            <label class="item item-input">
                <span class="input-label calm">Email</span>
                <label> <span>{{Details.UserName}}</span></label>
            </label>

            <label class="item item-input">
                <span class="input-label calm">Phone</span>
                <input type="text" placeholder="123 123 7899" ng-model="Details.ContactNumber" value="{{Details.ContactNumber}}">
            </label>

            <div class="item item-divider">ADDRESS</div>

            <label class="item item-input">
                <span class="input-label calm">Address</span>
                <input type="text" placeholder="123 Nooch St" ng-model="Details.Address" value="{{Details.Address}}">
            </label>

            <label class="item item-input">
                <span class="input-label calm">Address 2</span>
                <input type="text" placeholder="(Optional)" ng-model="Details.State" value="{{Details.State}}">
            </label>


            <label class="item item-input">
                <span class="input-label calm">City</span>
                <input type="text" placeholder="City" ng-model="Details.City" value="{{Details.City}}">
            </label>

            <label class="item item-input">
                <span class="input-label calm">ZIP</span>
                <input type="text" placeholder="90210" ng-model="Details.Zipcode" value="{{Details.Zipcode}}">
            </label>

            <div class="item item-divider">ID VERIFICATION</div>

            <label class="item item-input">
                <span class="input-label calm">Date of Birth</span>
                <input type="text" placeholder="MM/DD/YYYY" ng-model="Details.DateOfBirth" ng-click="showdate()" value="{{Details.DateOfBirth}}">
            </label>
        </div>
        <button class="button button-calm button-block" ng-click="UpdateProfile()">Save</button>
    </ion-content>
</ion-view>
