<ion-view view-title="Enter PIN Foreground">
    <ion-content>

        <h2 class="instructionTextPin m-t-10">
            Enter PIN to confirm your
            <span class="show text-success"> Identity </span>
        </h2>

        <div class="row">
            <div class="col text-center">
                <form id="frmPinForeground" class="smErrors" data-parsley-validate="">
                    <div class="pin-container">
                        <label class="item item-input">
                            <input type="password" placeholder="****" ng-model="Value.Pin" maxlength="4" data-parsley-required data-parsley-required-message="*" />
                        </label>
                    </div>
                </form>
</div>
        </div>

        <div class="text-center">
            <button class="button button-calm button-block" ng-click="CheckPin()">Submit</button>
        </div>

    </ion-content>

</ion-view>
