<ion-view view-title="Social Settings">
    <ion-content>

        <br>

        <div class="section-header m-t-20 m-b-0">Linked Accounts</div>

        <div ng-if="Res.FacebookAccountLogin =='' || Res.FacebookAccountLogin == null">

                <button class="button btn-primary button-block" ng-click="connectFb()">
                    <i class="ion-social-facebook"></i>
                    Connect To Facebook
                </button>
            <div class="section-note p-t-0">Connect your Facebook account to Nooch to allow quicker login and to share payments with friends</div>
            </div>

        <div ng-if="Res.FacebookAccountLogin != '' || Res.FacebookAccountLogin != null">
            <div class="row">    
                <div class="col col-10">
                    <i class="ion-social-facebook" style="font-size:70px"></i>
                </div>            
                <div class="col">                    
                    <div class="item item-avatar side_menu_top">
                        <img  class="user-img"   src="{{Res.PhotoUrl}}"> 
                    </div>
                </div>
            </div>
        </div>
          

</ion-content>
</ion-view>
