<ion-view view-title="Social Setting">
    <ion-content>

        <div class="bar bar-header bar-calm">

            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Social Setting</h6>
        </div>
        <br>


        <div class="card text-center">
            <br >
            <p> Linked Networks</p>
           
            <button class="button button-calm button-block">
                <i class="ion-social-facebook"></i>&nbsp;&nbsp;&nbsp;
                Connect To Facebook
            </button>
            <br>
            <p> Connect your Facebook account to Nooch to allow quicker login and to share payments with friends</p>
        </div>



    </ion-content>
</ion-view>
