<ion-view view-title="Social Settings">
    <ion-content>

        <!--<div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Social Setting</h6>
        </div>
        <br>-->

        <div class="section-header m-t-20 m-b-0">Linked Accounts</div>

        <div class="row">
            <div class="col">
                <button class="button btn-primary button-block">
                    <i class="ion-social-facebook"></i>
                    Connect To Facebook
                </button>
            </div>
        </div>

        <div class="section-note p-t-0">Connect your Facebook account to Nooch to allow quicker login and to share payments with friends</div>

    </ion-content>
</ion-view>
