<ion-view view-title="Statistics">
    <ion-content scroll="false">

        <div class="row statsIconContainer m-t-10">
            <div class="col">
                <button class="slide0 selected"><i class="ion-cash"></i></button>
            </div>
            <div class="col">
                <button class="slide1"><i class=" ion-person"></i></button>
            </div>
            <div class="col">
                <button class="slide2"><i class=" ion-ios-people"></i></button>
            </div>
        </div>

        <ion-slides options="slideOptions" slider="data.slider">

            <ion-slide-page>

                <div class="card m-b-10">

                    <h3 class="text-center m-t-15">Transfer Stats</h3>

                    <div class="list">
                        <div class="item">Total Compleated Payments <span class="badge badge-calm" ng-model="stats.TotalCompletedPayments">{{stats.Total_P2P_transfers.Result}}</span></div>

                        <div class="item">Payments Sent <span class="badge badge-calm" ng-model="stats.PaymentSent">{{stats.Total_no_of_transfer_Sent.Result}}</span></div>

                        <div class="item">Totel Sent <span class="badge badge-calm" ng-model="stats.TotalSent">$ &nbsp;{{stats.TotalSent.Result}}</span></div>

                        <div class="item">Payments Received <span class="badge badge-calm" ng-model="stats.PaymentReceived">$ &nbsp;{{stats.Total_no_of_transfer_Received.Result}} </span></div>

                        <div class="item">Totel Received <span class="badge badge-calm" ng-model="stats.TotalRecevied"> $ &nbsp;{{stats.Total_$_Received.Result}}</span></div>

                        <div class="item">Largest Transfer Sent <span class="badge badge-calm" ng-model="stats.LargestTransferSent">$ &nbsp;{{stats.Largest_sent_transfer.Result}}</span></div>

                        <div class="item">Largest Transfer Received <span class="badge badge-calm" ng-model="stats.largestTransferReceived">$ &nbsp;{{stats.Largest_received_transfer.Result}}</span></div>
                    </div>

                </div>

                <div class="text-center">
                    <div class="btn btn-primary" ng-click="exportHistory()"><i class="ion-ios-cloud-download"></i>Export Account History</div>
                </div>

            </ion-slide-page>

            <ion-slide-page>

                <div class="card">

                    <h3 class="text-center m-t-15">Profile Stats</h3>

                    <div class="list">

                        <div class="item">Friends Invited<span class="badge badge-calm">{{stats.Total_Friends_Invited.Result}}</span></div>

                        <div class="item">Invites Accepted <span class="badge badge-calm">{{stats.Total_Friends_Joined.Result}}</span></div> 


                        <div class="item">
                            Posts To Twitter
                            <i class="ion-social-twitter"></i>
                            <span class="badge badge-calm"> {{stats.Total_Posts_To_TW.Result}} </span>
                        </div>

                        <div class="item">
                            Posts To Facebook
                            <i class="ion-social-facebook"></i>
                            <span class="badge badge-calm">{{stats.Total_Posts_To_FB.Result}}</span>
                        </div>

                        <a class="item" href="#/app/referAfriend">
                            <i class="ion-person-add text-success"></i>
                            Refer More Friends
                            <i class="ion-ios-arrow-thin-right text-success"></i>
                        </a>

                    </div>
                </div>

            </ion-slide-page>

            <ion-slide-page>

                <div class="card">

                    <h3 class="text-center m-t-15">Top 5 Friends</h3>

                    <div class="list icon-right">

                        <a class="item item-avatar" href="#/howMuch" nav-transition="ios" nav-direction="forward">
                            <img src="./img/profile_picture.png" class="userPic">
                            <h2>John Smith</h2>
                            <p>42 Payments</p>
                            <i class="ion-ios-compose-outline"></i>
                        </a>

                        <a class="item item-avatar" href="#/howMuch" nav-transition="ios" nav-direction="forward">
                            <img src="./img/RoundLoading.png">
                            <h2>Meghan Brown</h2>
                            <p>26 Payments</p>
                            <i class="ion-ios-compose-outline"></i>
                        </a>

                        <a class="item item-avatar" href="#/howMuch" nav-transition="ios" nav-direction="forward">
                            <img src="./img/profile_picture.png">
                            <h2>Paul Lazar</h2>
                            <p>23 Payments</p>
                            <i class="ion-ios-compose-outline"></i>
                        </a>

                        <a class="item item-avatar" href="#/howMuch" nav-transition="ios" nav-direction="forward">
                            <img src="./img/profile_picture.png">
                            <h2>Julius Smithers</h2>
                            <p>10 Payments</p>
                            <i class="ion-ios-compose-outline"></i>
                        </a>

                    </div>
                </div>
            </ion-slide-page>

        </ion-slides>

    </ion-content>
</ion-view>
