<ion-view view-title="History">
    <ion-content>
        </ion-content>

        <ion-tabs class="tabs-striped tabs-top tabs-icon-left tabs-background-positive tabs-color-light">
           
                <ion-tab title="Completed" icon-on="ion-checkmark-circled" icon-off="ion-checkmark-circled">
                 
                        <br /><br />
                        <br />
                        <br />
                        <br />
                    <h3></h3>
                        <div class="history-list">
                            <input type="hidden" ng-model="memberId"  />
                            <ion-scroll zooming="true" direction="y"   >
                                <a class="item item-avatar" ui-sref="app.TransferDetails({myParam:transaction})" ng-repeat="transaction in  transactionList" ng-if="transaction.TransactionStatus=='Success' && (transaction.TransactionType=='Request' || transaction.TransactionType=='Transfer')">
                  

                                        <img src={{transaction.Photo}}>

                                    <div class="name" ng-if="transaction.Name.length>1">{{transaction.Name}}</div>
                                    <div class="name" ng-if="transaction.Name.length<=1">{{transaction.InvitationSentTo}}</div>

                                        <p class="memo-container">For "<span class="memo-text">{{transaction.Memo}}</span>"</p>
                                    <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Success' && transaction.TransactionType=='Transfer'">
                                        <label class="transTypeLabel sent" ng-if="transaction.MemberId==memberId">Transfer To</label>
                                        <label class="transTypeLabel received" ng-if="transaction.MemberId!=memberId">Transfer From</label>
                                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                    </div>

                                    <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Success' && transaction.TransactionType=='Request'">
                                        <label class="transTypeLabel received" ng-if="transaction.MemberId==memberId">Paid to</label>
                                        <label class="transTypeLabel sent" ng-if="transaction.MemberId!=memberId">Paid by</label>
                                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                    </div>

                                    <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Success' && transaction.TransactionType=='Invite'">
                                        <label class="transTypeLabel received" ng-if="transaction.MemberId!=memberId">Invite from</label>
                                        <label class="transTypeLabel sent" ng-if="transaction.MemberId==memberId">Invite to</label>
                                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                    </div>
                                    <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Success' && transaction.TransactionType=='Rent'">
                                        <label class="transTypeLabel received" ng-if="transaction.MemberId!=memberId">Rent from</label>
                                        <label class="transTypeLabel sent" ng-if="transaction.MemberId==memberId">Rent to</label>
                                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                    </div>  

                                        <span class="item-note amount">${{transaction.Amount}}</span>
                                    </a>



                                <button type="button" id="export-btn" class="btn btn-primary"><i class="ion-ios-cloud-download"></i>Export</button>

</div>
</ion-tab>

                <ion-tab title="Pending" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                    <br /><br />
                    <br />
                    <br />
                    <br />
                    <div class="history-list">
                        <ion-scroll zooming="true" direction="y" style=" height: 15000px">
                            <a class="item item-avatar" ui-sref="app.TransferDetails({myParam:transaction})" ng-repeat="transaction in  transactionList" ng-if="transaction.TransactionStatus=='Pending' ">

                                <img src="./img/profile_picture.png">


                                <div class="name" ng-if="transaction.Name.length>1">{{transaction.Name}}</div>
                                <div class="name" ng-if="transaction.Name.length<=1">{{transaction.InvitationSentTo}}</div>

                                <p class="memo-container">For "<span class="memo-text">{{transaction.Memo}}</span>"</p>

                                <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Pending' && transaction.TransactionType=='Transfer'">
                                    <label class="transTypeLabel sent" ng-if="transaction.MemberId==memberId">Transfer To</label>
                                    <label class="transTypeLabel received" ng-if="transaction.MemberId!=memberId">Transfer From</label>
                                    <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                </div>

                                <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Pending' && transaction.TransactionType=='Request'">
                                    <label class="transTypeLabel received" ng-if="transaction.MemberId==memberId">Request from</label>
                                    <label class="transTypeLabel sent" ng-if="transaction.MemberId!=memberId">Request to</label>
                                    <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                </div>

                                <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Pending' && transaction.TransactionType=='Invite'">
                                    <label class="transTypeLabel received" ng-if="transaction.MemberId!=memberId">Invite from</label>
                                    <label class="transTypeLabel sent" ng-if="transaction.MemberId==memberId">Invite to</label>
                                    <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                </div>
                                <div class="typeDateContainer" ng-if="transaction.TransactionStatus=='Pending' && transaction.TransactionType=='Rent'">
                                    <label class="transTypeLabel received" ng-if="transaction.MemberId!=memberId">Rent from</label>
                                    <label class="transTypeLabel sent" ng-if="transaction.MemberId==memberId">Rent to</label>
                                    <h5 class="date"><i class="ion-android-time m-r-5"></i>{{transaction.TransactionDate}}</h5>
                                </div>

                                <span class="item-note amount">${{transaction.Amount}}</span>
                            </a>



                            <button type="button" id="export-btn" class="btn btn-primary"><i class="ion-ios-cloud-download"></i>Export</button>

</div>
                </ion-tab>
</ion-tabs>

</ion-view>
