<ion-view view-title="History">
    <ion-content>
    </ion-content>

    <ion-tabs class="tabs-striped tabs-top tabs-icon-left tabs-background-positive tabs-color-light">

        <ion-tab title="Completed" icon-on="ion-checkmark-circled" icon-off="ion-checkmark-circled">

            <br /><br />
            <br />
            <br />
            <br />

            <div class="history-list">
                <input type="hidden" ng-model="memberId" />

                <ion-scroll zooming="true" direction="y">

                    <a class="item item-avatar" ui-sref="app.TransferDetails({trans:trans})" ng-repeat="trans in transactionList" ng-if="trans.TransactionStatus == 'Success'">

                        <img src={{trans.Photo}}>

                        <div class="name" ng-if="trans.Name.length>1">{{trans.Name}}</div>
                        <div class="name" ng-if="trans.Name.length<=1">{{trans.InvitationSentTo}}</div>

                        <p class="memo-container">For "<span class="memo-text">{{trans.Memo}}</span>"</p>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Transfer'">
                            <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId">Transfer To</label>
                            <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Transfer From</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Request'">
                            <label class="transTypeLabel received" ng-if="trans.MemberId == memberId">Paid To</label>
                            <label class="transTypeLabel sent" ng-if="trans.MemberId != memberId">Paid by</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Invite'">
                            <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Invite From</label>
                            <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId">Invite to</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Reward'">
                            <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Reward From</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Rent'">
                            <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Rent From</label>
                            <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId">Rent to</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <span class="item-note amount">{{trans.Amount | currency}}</span>
                    </a>

                </ion-scroll>

                <button type="button" id="export-btn" class="btn btn-primary">
                    <i class="ion-ios-cloud-download"></i>Export History
                </button>

            </div>

        </ion-tab>

        <ion-tab title="Pending" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <br /><br />
            <br />
            <br />
            <br />

            <div class="history-list">
                <ion-scroll zooming="true" direction="y" style="height: 15000px">
                    <a class="item item-avatar" ui-sref="app.TransferDetails({trans:trans})" ng-repeat="trans in transactionList | filter : a" ng-if="trans.TransactionStatus == 'Pending'">

                        <img src={{trans.Photo}}>

                        <div class="name" ng-if="trans.Name.length > 1">{{trans.Name}}</div>
                        <div class="name" ng-if="trans.Name.length <= 1">{{trans.InvitationSentTo}}</div>

                        <p class="memo-container" ng-if="trans.Memo != ''">For "<span class="memo-text">{{trans.Memo}}</span>"</p>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Transfer'">
                            <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId">Transfer To</label>
                            <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Transfer From</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Request'">
                            <label class="transTypeLabel received" ng-if="trans.MemberId == memberId">Request from</label>
                            <label class="transTypeLabel sent" ng-if="trans.MemberId != memberId">Request to</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Invite'">
                            <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Invite from</label>
                            <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId">Invite to</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <div class="typeDateContainer" ng-if="trans.TransactionType == 'Rent'">
                            <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Rent from</label>
                            <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId">Rent to</label>
                            <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate}}</h5>
                        </div>

                        <span class="item-note amount">{{ trans.Amount | currency}}</span>
                    </a>

                </ion-scroll>
            </div>

            <button type="button" id="export-btn" class="btn btn-primary">
                <i class="ion-ios-cloud-download"></i>Export History
            </button>

        </ion-tab>
    </ion-tabs>

</ion-view>
