 

<ion-view view-title="History">
    <ion-nav-buttons side="secondary">
        <i class="ion-arrow-expand"   ng-click="openModal()"></i></ion-nav-buttons>
      
    <ion-content>

        <div class="row">
            <div class="col p-t-0">
                <ti-segmented-control>
                    <ti-segmented-control-button ng-click="clickCompleted()" id="btnCompleted" class="button-positive" title="'Completed'" selected><i class="ion-checkmark-circled"></i>Completed</ti-segmented-control-button>
                    <ti-segmented-control-button ng-click="clickPending()" id="btnPending" class="button-positive" title="'Pending'"><i class="ion-ios-clock"></i>Pending</ti-segmented-control-button>
                </ti-segmented-control>
            </div>
        </div>
        <div class="list list-inset m-t-0 m-b-10" >

            <label class="item item-input searchBarContainer">
                <i class="icon ion-search placeholder-icon p-r-0"></i>
                <input type="text" ng-keyup="checkList()" class="p-r-10" id="searchBar" ng-model="search" placeholder="Search by name or enter an email">
            </label>

          
        </div>

        <ion-scroll class="history-list">

            <ion-list ng-show="completed">
                <ion-item class="item item-avatar" ui-sref="app.transferDetails({trans:trans})" ng-repeat="trans in transactionList | filter:search" ng-if="trans.TransactionStatus == 'Success'">
                    <img src={{trans.Photo}}>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Transfer'" >
                        <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId" >Transfer To</label>
                        <label class="transTypeLabel received" ng-if="trans.MemberId != memberId" >Transfer From</label>

                        <h5 class="date">
                            <i class="ion-android-time m-r-5"></i>
                            {{trans.TransactionDate | date : "mediumDate"}}
                        </h5>
                    </div>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Request'">
                        <label class="transTypeLabel received" ng-if="trans.MemberId == memberId"  >Paid To</label>
                        <label class="transTypeLabel sent" ng-if="trans.MemberId != memberId"  >Paid by</label>

                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Invite'">
                        <label class="transTypeLabel received" ng-if="trans.MemberId != memberId"  >Invite From</label>
                        <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId"  >Invite to</label>

                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Reward'" >
                        <label class="transTypeLabel received" ng-if="trans.MemberId != memberId"  >Reward From</label>

                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Rent'">
                        <label class="transTypeLabel received" ng-if="trans.MemberId != memberId"  >Rent From</label>
                        <label class="transTypeLabel sent" ng-if="trans.MemberId == memberId"  >Rent to</label>

                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>


                    <div class="name" ng-if="trans.Name.length>1">{{trans.Name}}</div>
                    <div class="name" ng-if="trans.InvitationSentTo != null">{{trans.InvitationSentTo}}</div>

                    <p class="memo-container" ng-if="trans.Memo != null && trans.Memo != ''">For "<span class="memo-text">{{trans.Memo}}</span>"</p>

                    <span class="item-note amount">{{trans.Amount | currency}}</span>

                    <ion-option-button class="button-positive" ui-sref-ignore ng-click="PayBack(trans)" ng-show="trans.MemberId != memberId && (trans.TransactionType == 'Request')">Pay Back </ion-option-button>

                    <ion-option-button class="button-positive" ui-sref-ignore ng-click="showMap(trans.Latitude,trans.Longitude)">Show on map</ion-option-button>

                </ion-item>
            </ion-list>

            <ion-list ng-show="pending">
                <ion-item class="item item-avatar" ui-sref-active="false" ui-sref="app.transferDetails({trans:trans})" ng-repeat="trans in transactionList | filter:search " ng-if="trans.TransactionStatus == 'Pending'">
                    <img src={{trans.Photo}}>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Transfer'">
                        <label class="transTypeLabel pending" ng-if="trans.MemberId == memberId">Transfer To</label>
                        <label class="transTypeLabel pending" ng-if="trans.MemberId != memberId">Transfer From</label>
                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Request'">
                        <label class="transTypeLabel pending" ng-if="trans.MemberId == memberId">Request From</label>
                        <label class="transTypeLabel pending" ng-if="trans.MemberId != memberId">Request Sent To</label>
                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date :  "mediumDate"}}</h5>
                    </div>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Invite'">
                        <label class="transTypeLabel pending" ng-if="trans.MemberId != memberId">Invite From</label>
                        <label class="transTypeLabel pending" ng-if="trans.MemberId == memberId">Invite Sent To</label>
                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="typeDateContainer" ng-if="trans.TransactionType == 'Rent'">
                        <label class="transTypeLabel pending" ng-if="trans.MemberId != memberId">Rent Request From</label>
                        <label class="transTypeLabel pending" ng-if="trans.MemberId == memberId">Rent Request To</label>
                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="name" ng-if="trans.Name.length > 1">{{trans.Name}}</div>
                    <div class="name" ng-if="trans.Name.length <= 1">{{trans.InvitationSentTo}}</div>

                    <p class="memo-container" ng-if="trans.Memo != null && trans.Memo != ''">For "<span class="memo-text">{{trans.Memo}}</span>"</p>

                    <span class="item-note amount text-primary">{{ trans.Amount | currency}}</span>

                    <ion-option-button class="button-assertive " ui-sref-ignore ng-click="rejectPayment(trans)" ng-show="trans.MemberId == memberId && (trans.TransactionType == 'Request' )">Reject</ion-option-button>
                    <ion-option-button class="button-positive" ui-sref-ignore ng-click="TransferMoney(trans)" ng-show="trans.MemberId == memberId && (trans.TransactionType == 'Request' )">Accept </ion-option-button>
                    <ion-option-button class="button button-assertive " ui-sref-ignore ng-click="cancelPayment(trans)" ng-show="trans.MemberId != memberId && (trans.TransactionType == 'Request' )">Cancel</ion-option-button>
                    <ion-option-button class="button-positive" ui-sref-ignore ng-click="remindPayment(trans)" ng-show="trans.MemberId != memberId && (trans.TransactionType == 'Request' )">Remind</ion-option-button>

                </ion-item>
            </ion-list>

        </ion-scroll>

    </ion-content>

</ion-view>