<ion-view view-title="How It Works">
    <ion-content>

        <ion-slides id="howItWorksSlider" options="slideOptions" slider="data.slider">
            <ion-slide-page>

                <div id="slide1" class="slide">
                    <img class="slideImage" src="./img/home-circled@2x.png" />
                    <h2 class="slideTitle">Welcome To Nooch</h2>
                    <div class="slideCaption">Pay back a friend or send a payment request to anyone. The people you Nooch most will appear on the Home Screen. Send to anyone - even if they don't have Nooch.</div>
                </div>

            </ion-slide-page>

            <ion-slide-page>

                <div id="slide2" class="slide">
                    <img class="slideImage" src="./img/connectBank-circled@2x.png" />
                    <h2 class="slideTitle">Link A Funding Source</h2>
                    <div class="slideCaption">No long forms or waiting periods.  Just select your bank and sign in using your existing online banking credentials.</div>
                </div>

            </ion-slide-page>

            <ion-slide-page>

                <div id="slide3" class="slide">
                    <img class="slideImage" src="./img/selectRec-circled@2x.png" />
                    <div class="slideCaption">Search your phone contacts, select from a recent payee, find nearby Nooch users, or enter ANY email address or phone number.</div>
                </div>

            </ion-slide-page>

            <ion-slide-page>

                <div id="slide4" class="slide">
                    <img class="slideImage" src="./img/HowMuch_tour@2x.png" />
                    <h2 class="slideTitle">Send or Request?</h2>
                    <div class="slideCaption">Enter an amount, add a memo, or picture to any transfer.  Then tap 'Send' or 'Request'.</div>
                </div>

            </ion-slide-page>

            <ion-slide-page>

                <div id="slide5" class="slide">
                    <a id="tourDoneBtn" class="btn btn-link" href="#/home" nav-transition="ios" nav-direction="forward">Done</a>
                    <img class="slideImage" src="./img/HistoryPending.png" />
                    <h2 class="slideTitle">Transfer History</h2>
                    <div class="slideCaption">See all your Nooch transfers and filter by type.  To see a map of your payments, swipe left or tap the map icon in the navigation bar.</div>
                </div>

            </ion-slide-page>

        </ion-slides>
    </ion-content>
</ion-view>
