<ion-view view-title="How Much">
    <ion-content>
        <br>
        <br>

        <div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">How Much ?</h6>
        </div>
        <div class="card">
            <div class="header-item header-item-c">
                &nbsp; To : Abe Lincoln <i class="ion-plus-circled" style="float:right;">&nbsp;&nbsp;</i>
            </div>

            <div class="item item-avatar side_menu_top">
                <img class="user-img" src="https://goo.gl/zK7SNE">                
                <h1 class="h1-c"> &nbsp;&nbsp;$ 45.00</h1>
                &nbsp;
            </div>

            <label class="item item-input text-center item-body">                
                <input type="number" placeholder="Concert tickets" >
               | &nbsp;<i class="ion-camera">&nbsp;&nbsp;</i>
                   </label>
            </div>

        <div class="button-bar">
            <button class="button  button-block button-calm">REQUEST</button>           
            <button class="button button-block button-balanced">SEND</button>
        </div>
            


        
    </ion-content>
</ion-view>
