<ion-view view-title="How Much">
    <ion-content scroll="false">

        <div id="howMuchBox" class="card m-t-10">

            <form id="howMuchForm">

                <div class="header-item barBackground" ng-class="{'blue': requestSelected == true, 'green': sendSelected == true}">
                    To:&nbsp;
                    <span id="recipName">
                        <span ng-if="recipientDetail.FirstName">{{recipientDetail.FirstName}}</span>
                        <span ng-if="recipientDetail.LastName">&nbsp;{{recipientDetail.LastName}}</span>
                        <span ng-if="!recipientDetail.FirstName && !recipientDetail.LastName && recipientDetail.UserName">{{recipientDetail.UserName}}</span>
                        <span id="contactNum" ng-if="!recipientDetail.FirstName && !recipientDetail.LastName && recipientDetail.ContactNumber">{{recipientDetail.ContactNumber}}</span>
                    </span>

                    <a href=""><i class="ion-plus-circled pull-right f-19"></i></a>
                </div>

                <div class="row">
                    <div class="col col-25">
                        <img class="recip-pic" src="{{recipientDetail.Photo}}">
                    </div>

                    <div class="col">
                        <div class="amount-container">
                            <i id="dollarSign" class="ion-social-usd"></i>
                            <input type="text" ng-model="recipientDetail.Amount" placeholder="00.00" ng-keyup="checkAmount()" maxlength="7" data-parsley-required data-parsley-required-message="Please enter an amount to continue." data-parsley-error-message="Please enter a valid amount!" />
                            <!--<input type="number" ng-model="recipientDetail.Amount" placeholder="00.00" maxlength="7" pattern="\d*\.*\d+" min="1" max="5000" data-parsley-required data-parsley-required-message="Please enter an amount to continue." data-parsley-range-message="Amount must be between $0-$5,000" data-parsley-error-message="Please enter a valid amount!" />-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div id="memoField" class="item item-input text-center">
                            <input type="text" ng-model="recipientDetail.Memo" placeholder="Enter a Memo" maxlength="100">

                            <a href="" ng-click="changePic()" id="add-img-btn">
                                <i class="ion-camera m-l-5"></i>
                            </a>

                            <input type="hidden" value="{{imgURI}}">

                        </div>
                    </div>
                </div>

                <div class="button-bar">
                    <button id="requestBtn" class="button btn-primary button-block" ng-class="{'expand': requestSelected == true, 'shrink': sendSelected == true}" ng-click="submitRequest()">REQUEST</button>
                    <button id="sendBtn" class="button button-block btn-success" ng-class="{'expand': sendSelected == true, 'shrink': requestSelected == true}" ng-click="submitSend()">SEND</button>
                    <div id="resetBtn" class="animated fast fadeIn" ng-if="requestSelected || sendSelected" ng-click="resetBtns()"><i class="ion-close-round"></i></div>
                </div>

            </form>

        </div>

    </ion-content>
</ion-view>
