<ion-view view-title="Create PIN">
    <ion-content>

        <a class="button backButton animated" href="#/addPicture" ng-class="{'bounceInDown': showBackBtn != false, 'bounceOutUp': showBackBtn == false}">
            <i class="ion-android-arrow-dropleft-circle"></i>
        </a>

        <div class="row m-t-neg-20">
            <div class="col p-0 text-center">
                <img src="./img/nooch-logo.svg" class="mainLogo" />
                <p class="slogan purp-text m-b-5">Money Made Simple</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">

                <p id="header" class="f-25 m-b-0">Create Your PIN</p>

                <p class="instructionTxt p-5 m-b-5">{{instructionTxt}}</p>

                <div class="row indicatorDotWrap animated">
                    <div class="col">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div class="row numPadWrap animated">
                    <div class="col">
                        <button ng-click="numTapped(1)">1</button>
                        <button ng-click="numTapped(4)">4</button>
                        <button ng-click="numTapped(7)">7</button>
                    </div>
                    <div class="col">
                        <button ng-click="numTapped(2)">2</button>
                        <button ng-click="numTapped(5)">5</button>
                        <button ng-click="numTapped(8)">8</button>
                        <button ng-click="numTapped(0)">0</button>
                    </div>
                    <div class="col">
                        <button ng-click="numTapped(3)">3</button>
                        <button ng-click="numTapped(6)">6</button>
                        <button ng-click="numTapped(9)">9</button>
                        <button class="text-danger" ng-click="numTapped(10)">x</button>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
