<ion-view view-title="Create PIN">
    <ion-content>

        <a class="button backButton" href="#/addPicture"><i class="ion-android-arrow-dropleft-circle"></i></a>
        <div class="row">
            <div class="col text-center">
                <img src="../img/nooch-logo.svg" class="mainLogo" />

                <p class="slogan purp-text m-b-5">Money Made Simple</p>
            </div>
        </div>
        <br>
        <div class="text-center">
            <p class="f-30">Create Your PIN</p>
            <br />
            <p style="margin-left: 5px; margin-right:5px;">
                You'll be asked to enter this PIN
                anytime you send or request money.
            </p>
            <br />
            <br>
            <form id="frmCreatePin" class="smErrors" data-parsley-validate="">
                <div class="pin-container">
                    <label class="item item-input">
                        <input type="text" placeholder="* * * *" maxlength="4" ng-model="signupData.Pin" data-parsley-required data-parsley-required-message="*">
                    </label>
                </div>
                <br>
            </form>

            <button class="button button-calm" ng-click="signUpFn()">Submit</button>
        </div>
    </ion-content>
</ion-view>
