<ion-view view-title="Create PIN">
    <ion-content>

        <a class="button backButton" href="#/addPicture"><i class="ion-android-arrow-dropleft-circle"></i></a>

        <div class="row">
            <div class="col text-center">
                <img src="./img/nooch-logo.svg" class="mainLogo" />

                <p class="slogan purp-text m-b-5">Money Made Simple</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">

                <p class="f-30 m-b-20">Create Your PIN</p>

                <p class="p-10 m-b-30">You'll be asked to enter this PIN anytime you send or request money.</p>

                <form id="frmCreatePin" class="smErrors m-b-30" data-parsley-validate="">
                    <div class="pin-container">
                        <label class="item item-input">
                            <input type="number" style="-webkit-text-security:disc" placeholder="* * * *" maxlength="4" ng-model="signupData.Pin" data-parsley-required data-parsley-required-message="*">
                        </label>
                    </div>
                </form>

                <button class="button btn-primary button-block" ng-click="signUpFn()">Submit</button>

            </div>
        </div>
    </ion-content>
</ion-view>
