<ion-view view-title="map Page">
    <ion-content>

        <!--<div map-lazy-load="https://maps.google.com/maps/api/js">
            <!--map-lazy-load-params="{{googleMapsUrl}}"-->
            <!--<ng-map center="{{Location.longi}},{{Location.lati}}" zoom="7"></ng-map>
            <marker position="{{Location.longi}},{{Location.lati}}" />-->
            <!--<markers models="vehicles" coords="{{'Mark'}}"></markers>-->

        <!--</div>-->


        <div ng-controller="mapCtrl as vm">
            <ng-map zoom="13" center="{{Location.longi}},{{Location.lati}}" style="height:600px"
                    on-center-changed="centerCustomMarker()">
                <marker position="{{Location.longi}},{{Location.lati}}" on-click="vm.showCustomMarker()"></marker>
                <marker position="{{Location.longi}},{{Location.lati}}" on-click="vm.showCustomMarker()"></marker>
                <custom-marker id="foo" position="{{Location.longi}},{{Location.lati}}" on-click="vm.closeCustomMarker()">
                    <div>
                        <img width="100" src="https://goo.gl/DAAJG3" align="left" /> Hi, This is test Marker <br />
                       Money made Easy <br />
                       
                       
                </custom-marker>
            </ng-map>
        </div>
        

    </ion-content>
</ion-view>
