<ion-view view-title="Upload ID">
    <ion-content id="uploadIdScrn" class="b-gray">

        <div class="section-header m-t-20">Identity Verification</div>

        <div class="card p-5 p-t-10 m-t-10">

            <p>
                <span>Please upload a copy of any <span class="f-500">valid, government-issued photo ID</span> that shows your name and picture clearly.&nbsp;</span>
                <span ng-class="{'show' : screenWidth > 360}" ng-click="learnMore()">
                    <span class='link-underline'>Why we ask</span>
                    <i class="ion-help-circled text-primary m-l-5"></i>
                </span>
            </p>

            <div class="row shadowBox">
                <div class="col p-r-0">
                    <div class="callout-left">Best<br />Options<i class="ion-play"></i></div>
                </div>
                <div class="col p-l-0">
                    <ul class="m-b-0">
                        <li>Driver's License</li>
                        <li>Passport</li>
                    </ul>
                </div>
            </div>

            <div class="row m-t-10">
                <div class="col">
                    <div class="idPicWrap" ng-click="choosePhoto()">
                        <img src="././img/id-img.png" ng-show="picSelected != true" />
                        <img src="{{imgURI}}" ng-show="picSelected === true" />
                        <span id="editTxt" ng-class="{'gray-dark': !picSelected}">Tap To Edit</span>
                    </div>
                </div>
            </div>

            <div class="row m-t-5 m-b-10">
                <div class="col text-center">
                    <button class="btn btn-primary btn-small" ng-click="choosePhoto()" ng-if="picSelected != true"><i class="ion-camera"></i> Choose Photo </button>
                    <button class="btn btn-success btn-small" ng-click="sendDoc()" ng-if="picSelected === true && imgURI != null"><i class="ion-checkmark-circled"></i> Submit ID </button>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
