<ion-view view-title="Upload ID">
    <ion-content>
        <br>
        <br>

        <div class="card">
            <div class="profilePicWrapper" ng-click="choosePhoto()">
                <img src="./img/profile_picture.png" class="recip-pic" />
                <span id="editTxt" ng-click="choosePhoto()">edit</span>  <!--this will open gallery to upload new pic-->
            </div>

            <br>

            <div class="text-center">
                <button class="button button-calm button-small" ng-click="takePhoto()"> <i class="ion-camera"></i> Take Photo </button>  <!--this will open camera-->
            </div>
        </div>




    </ion-content>
</ion-view>
