<ion-view view-title="Refer a friend">
    <ion-content>

        <div class="text-center">
            <br />
            <h2> Your referral code :</h2>
            <h1 class="text-primary f-700"> CLIF999 </h1>
        </div>

        <div>
            <h4>Refer a friend with...</h4>

            <div class="text-center" style="line-height:60px;">
                <span class="IconBackGroundGreen">
                    <i class="ion-iphone"></i>
                </span>
                <span class="IconBackGroundfb">
                    <i class="ion-social-facebook"></i>
                </span>
                <span class="IconBackGroundtwitter">
                    <i class="ion-social-twitter"></i>
                </span>
                <span class="IconBackGroundemail">
                    <i class="ion-email"></i>
                </span>
            </div>

        </div>
        <br>
        <div>
            <h4> Friends you have refered :</h4>
            <div class="card">
                <div class="list">
                    <div class="item item item-avatar">
                        <img class="user-img" src="https://goo.gl/zK7SNE">
                        <h2> Surya </h2>
                        <p class="text-primary item-note"> 1/1/1999</p>
                    </div>
                    <div class="item item item-avatar">
                        <img class="user-img" src="https://goo.gl/zK7SNE">
                        <h2> Surya </h2>
                        <p class="text-primary item-note"> 1/1/1999</p>
                    </div>
                 
                        <div class="item item-avatar">
                            <img class="user-img" src="https://goo.gl/zK7SNE">
                            <h2> Surya </h2>
                            <p class="text-primary item-note"> 1/1/1999</p>
                        </div>

                        
                            <div class="item item-avatar">
                                <img class="user-img" src="https://goo.gl/zK7SNE">
                                <h2> Surya </h2>
                                <p class="text-primary item-note"> 1/1/1999</p>
                            </div>                            
                        </div>
                  </div>
                </div>
     

    </ion-content>
</ion-view>
