<ion-view view-title="Refer a Friend">
    <ion-content>

        <div class="text-center">
            <h2 class="m-t-15">Your referral code:</h2>
            <div id="referral-code"><span>{{Code.Result}}</span></div>
        </div>

        <div class="section-header m-t-20">
            Refer a friend with...
        </div>

        <div class="row refer-icons-container p-0">
            <div class="col refer-icon" ng-click="sendReferralCode('sms')">
                <img src="./img/sms-icon.png" />
                <span class="label">SMS Text</span>
            </div>

            <div class="col refer-icon" ng-click="sendReferralCode('fb')">
                <img src="./img/fb-icon100x100.png" />
                <span class="label">Facebook</span>
            </div>

            <div class="col refer-icon" ng-click="sendReferralCode('twitter')">
                <img src="./img/twitter-icon.png" />
                <span class="label">Twitter</span>
            </div>

            <div class="col refer-icon" ng-click="sendReferralCode('email')">
                <img src="./img/email-icon.png" />
                <span class="label">Email</span>
            </div>
        </div>


        <div class="section-header m-t-20">
            Friends you have refered
        </div>

        <div class="card m-t-5">
            <div id="referredUsersList" class="list">

                <div class="item item item-avatar" ng-repeat="member in memberList">
                    <img class=user-img src={{member.Photo}}>
                    <h2>{{member.FirstName}}&nbsp;{{member.LastName}}</h2>
                    <p class="item-note">{{member.DateCreated | date: 'MMM d, y'}}</p>
                </div>

                <!--<div class="item item-avatar">
                    <img class="user-img" src="./img/RoundLoading.png">
                    <h2>Lenny Kravitz</h2>
                    <p class="item-note">1/1/1999</p>-->
            </div>
        </div>

    </ion-content>
</ion-view>
