<ion-view view-title="Select Recipient" cache-view="false">

    <ion-content scroll="false">

        <div class="row">
            <div class="col">
                <ti-segmented-control>
                    <ti-segmented-control-button ng-click="FindRecent()" class="button-positive" title="'Month'" selected><i class="ion-ios-clock-outline"></i>Recent</ti-segmented-control-button>
                    <ti-segmented-control-button ng-click="GetLocationSearch()" class="button-positive" title="'Day'"><i class="ion-ios-location"></i>Find By Location</ti-segmented-control-button>
                </ti-segmented-control>
            </div>
        </div>


        <div class="list list-inset m-t-0 m-b-10" ng-show="currentView == 'recent'">
            <label class="item item-input searchBarContainer">
                <i class="icon ion-search placeholder-icon p-r-0"></i>
                <input type="text" ng-keyup="checkSearchText()" id="searchBar" ng-model="search" placeholder="Search by name or enter an email">
            </label>
        </div>


        <ion-scroll direction="y" class="history-list" ng-style="selectRecipListHeight">

            <img src="././img/SelectRecip_Empty@2x.png" ng-show="loadComplete == true && (recentCount === 0 || memberList.length === 0) && currentView === 'recent' && showEmPhDiv != true" class="emptyTableImg" />

            <div ng-if="loadComplete == true && (!foundNearbyUsers || memberList.length == 0) && currentView == 'location'" ng-style="selectRecipListHeight" class="emptyTable text-center p-25 m-t-10">
                <i class="ion-ios-location lt-gray-text"></i>
                <h3 class="gray-text-dark">No Nearby Noochers!</h3>
                <p class="lt-gray-text">There are no other Nooch users nearby. Tap 'Recent' to select from a list of recent friends or a contact from your address book.</p>
            </div>

            <ion-list ng-if="loadComplete == true && memberList.length > 0">
                <ion-item ng-repeat="member in memberList | filter:search" class="list animated fadeIn veryFast" id="selectRecipList">

                    <a class="item item-avatar" ng-click="openFilterChoices(member)" nav-transition="ios" nav-direction="forward">

                        <img src="{{member.Photo}}" class="userPic">
                        <h2 class="username">{{member.FirstName}} <span class="f-400">{{member.LastName}}</span></h2>
                        <p class="usersubtitle">{{member.UserName}}</p>
                        <p class="usersubtitle">{{member.ContactNumber}}</p>

                        <span class="item-note" ng-if="member.Miles">{{member.Miles}}</span>

                        <img src="././img/n_icon_46x54.png" class="n-icon" ng-if="member.bit!='p' && currentView == 'recent'" />
                    </a>

                </ion-item>

                <p class="emptyView animated" ng-class="{'zoomOut fast m-0 p-0': showEmPhDiv == true, 'bounceIn': showEmPhDiv != true}">Nobody found!</p>

            </ion-list>

            <div ng-show="showEmPhDiv == true" id="dvSendTo">
                <a ng-click="checkSearchTextForHowMuch()">
                    <div class="sendTo m-b-5">Send To:</div>
                    <div class="enteredTxt m-b-5">{{nonUserText}}</div>
                    <div class="f-30 purp-text m-b-5">
                        <i ng-if="sendTo == 'Email Address'" class="ion-email"></i>
                        <i ng-if="sendTo == 'Contact Number'" class="ion-iphone"></i>
                    </div>
                    <img class="defaultImg" src="././img/profile_picture.png" />
                </a>
            </div>

        </ion-scroll>

    </ion-content>
</ion-view>
