<ion-view view-title="Select Recipient">

    <ion-content ion-sticky scroll="true">

        <div class="row">
            <div class="col p-t-0">
                <ti-segmented-control>
                    <ti-segmented-control-button ng-click="FindRecent()" class="button-positive" title="'Month'" selected><i class="ion-ios-clock-outline"></i>Recents</ti-segmented-control-button>
                    <ti-segmented-control-button ng-click="GetLocationSearch()" class="button-positive" title="'Day'"><i class="ion-ios-location"></i>Find By Location</ti-segmented-control-button>
                </ti-segmented-control>
            </div>
        </div>


        <div class="list list-inset m-t-0 m-b-10" ng-show="showSearchFlag">
            <label class="item item-input searchBarContainer">
                <i class="icon ion-search placeholder-icon p-r-0"></i>
                <input type="text" ng-keyup="checkList()" id="searchBar" ng-model="search" placeholder="Search by name or enter an email">
            </label>
        </div>


        <ion-scroll direction="y" style="min-height: 530px">

            <img src="././img/SelectRecip_Empty@2x.png" ng-show="recentCount === 0 && memberList.length === 0" class="emptyTableImg" />

            <ion-list class="selectRecipList">
                <ion-item ng-repeat="member in memberList | filter:search" class="list" id="recents-table">

                    <a class="item item-avatar" ng-if="member.otherEmails != null" ng-click="openFilterChoices(member)" nav-transition="ios" nav-direction="forward">

                        <img src="{{member.Photo}}" class="userPic">
                        <h2 class="username">{{member.FirstName}} <span class="f-400">{{member.LastName}}</span></h2>
                        <p class="usersubtitle">{{member.UserName}}</p>
                        <p class="usersubtitle">{{member.ContactNumber}}</p>
                        <h3 ng-if="member.Miles">{{member.Miles}}Miles</h3>

                        <img src="././img/n_icon_46x54.png" class="n-icon" ng-if="member.bit!='p'" />
                    </a>

                </ion-item>
            </ion-list>

            <div ng-show="show" id="dvSendTo">
                <a class="" ui-sref="app.howMuch({recip:search})">
                    <span class="sendTo">Send to: <i ng-if="sendTo == 'Email Address'" class="fa fa-envelope"></i></span>
                    <span class="enteredTxt">{{search}}</span>
                    <img class="defaultImg" src="././img/profile_picture.png" />
                </a>
            </div>

        </ion-scroll>

    </ion-content>
</ion-view>
