<ion-view view-title="Enter PIN" cache-view="false">
    <ion-content>
        <div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack(returnUrl)" ng-show="returnPage!='Home'"></button>
            <h6 class="title">{{returnPage}}</h6>
        </div>
        </br> </br> </br>
        <h2 class="instructionTextPin m-t-10">
            Enter PIN to confirm your
            <span class="show text-success"> {{comingFrom}} </span>
        </h2>

        <div class="row">
            <div class="col text-center">
                <div class="pin-container m-b-20">
                    <input ng-keyup="getTransaction()" type="password" style="-webkit-text-security:disc" id="pin" ng-model="Details.enterPin" placeholder="****" maxlength="4">
                </div>

                <div class="amountPin">${{Details.Amount}}</div>
            </div>
        </div>

        <div class="card text-center m-t-10 recipient-box">
            <img src="{{Details.Photo}}" class="recip-pic" />

            <div class="namebar namebar-send" >
                {{Details.RecepientName}}  
            </div>
             
            <div class="memo-text">
                {{Details.Memo}}
            </div>
        </div>

    </ion-content>
</ion-view>
