<ion-view view-title="Enter PIN">
    <ion-content>
        <br>
        <br>

        <div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Enter PIN</h6>
        </div>
        <div class="text-center">
            <br />
            <h2> Enter PIN to confirm your</h2>
            <h2 class="text-success"> transfer </h2>
        </div>
        <br>
        <label class="item item-input text-center">

            <input type="password" placeholder="****">
        </label>
        <br>
        <div class="text-center f-700">
            <h1> $ &nbsp; 50.00</h1>
            <br>
            <div class="card text-center" style="line-height:40px;">
                <div class="header-item header-item-green">
                    Abe Lincoln
                </div>
                <div class="header-item ">
                    This Is memo ! (y) (y)
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
