<ion-view view-title="Enter PIN">
    <ion-content>

        <h2 class="instructionTextPin m-t-10">
            Enter PIN to confirm your
            <span class="show text-success"> transfer </span>
        </h2>

        <div class="row">
            <div class="col text-center">
                <div class="pin-container m-b-20">
                    <input type="password" id="pin" placeholder="****" maxlength="4">
                </div>

                <div class="amountPin">$50.00</div>
            </div>
        </div>

        <div class="card text-center m-t-10 recipient-box">
            <img src="./img/profile_picture.png" class="recip-pic" />

            <div class="namebar namebar-send">
                Abe Lincoln
            </div>

            <div class="memo-text">
                This is a sample memo!
            </div>
        </div>

    </ion-content>
</ion-view>
