<ion-view view-title="Notification Settings">
    <ion-content>

        <!--<div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack()"></button>
            <h6 class="title">Notification Settings</h6>
        </div>-->

        <br>

        <div>
            <br>
            <ul class="list">
                <!--<li class="item" style="float:right"><i class="ion-email"></i><i class="ion-iphone"></i></li>-->
                <li class="item item-toggle">
                    Transfer Received
                    <label class="toggle toggle-calm">
                        <input type="checkbox">
                         
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li class="item item-toggle">
                    Transfer Sent
                    <label class="toggle toggle-calm">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li class="item item-toggle">
                    Transfer Unclaimed
                    <label class="toggle toggle-calm">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>

        
        <!--<div class="text-center" style="font-size:50px;">
            <table style="line-height:40px;">
                <tr>
                    <td></td>
                    <td><h3><i class="ion-iphone"></i></h3></td>
                    <td><h3><i class="ion-email"></i></h3></td>
                </tr>
                <tr>
                    <td>
                        <h4>Transfer Received</h4>
                    </td>
                    <td >
                        <ul class="list">
                            <li class="item item-toggle">

                                <label class="toggle toggle-calm">
                                    <input type="checkbox">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <li class="item item-toggle">

                            <label class="toggle toggle-calm">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                    </td>
                </tr>
            </table>
        </div>-->

    </ion-content>
</ion-view>
