<ion-view view-title="Notification Settings">
    <ion-content class="b-gray" id="notifScrn">

        <div class="row icon-row m-t-10 m-b-5">
            <div class="col col-60">
            </div>
            <div class="col col-20">
                <i class="ion-email" ng-click="toggleAll('email')"></i>
            </div>
            <div class="col col-20">
                <i class="ion-iphone" ng-click="toggleAll('sms')"></i>
            </div>
        </div>

        <div class="row">
            <div class="col col-60">Transfer Received</div>

            <div class="col col-20">
                <label class="toggle toggle-calm">
                    <input type="checkbox" ng-model="ChkBox.EmailTransferReceived" ng-click="SetNotificationFn()" ng-checked="ChkBox.EmailTransferReceived">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <div class="col col-20">
                <label class="toggle toggle-green">
                    <input type="checkbox" ng-model="ChkBox.TransferReceived" ng-click="SetNotificationFn()" ng-checked="ChkBox.TransferReceived">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-60">Transfer Sent</div>

            <div class="col col-20">
                <label class="toggle toggle-calm">
                    <input type="checkbox" ng-model="ChkBox.EmailTransferSent" ng-click="SetNotificationFn()" ng-checked="ChkBox.EmailTransferSent">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>

    </ion-content>
</ion-view>
