/* Empty. Add your own CSS if you like */
.title-image {
    margin-top: 8px;
    height: 37px;   
    
}

input.parsley-error {
    border: 1px solid red;    
}

.parsley-error-list {
    color: red;
}

.parsley-required{ 
  font-weight: 400;
  font-size: 20px;
  color: red;
 display: block;
}  


 
.btnColorGray /*Login page -- login Button color*/
{
    background-color: #D3D3D3;
}


/*Css For Navigation page Start*/

/*.navColor
{
   background-color : #696969;
   /*color:#D3D3D3;
}*/
.itemCnav
{
    background-color:#53B2E4;    
}

.item-divider
{
    padding-top:8px;
    padding-bottom:0px;
}
.listCnav
{
    line-height:10px;
    /*padding-top:30px !important;*/
}

   .item-content{
    background-color: #58595B !important;
    color:#ffffff !important;
    font-weight:100;
    height:45px;
 
}
  .FloatRight
   {
       float:right;
   }

.coustomColor
{
    background-color: #58595B;
    color:#ffffff !important;
        font-weight:100;
}  

/*Css For Navigation page end*/




/*Setting page CSS Start*/

.cardBgColor
{
    background-color:#EFEFF4;
}


.ionColor {
    color:#11C1F3;
    font-size:20px;
    
}



/*Setting page CSS Ends*/