/* Empty. Add your own CSS if you like */
.title-image {
    margin-top: 8px;
    height: 37px;   
    
}

input.parsley-error {
    border: 1px solid red;    
}

.parsley-error-list {
    color: red;
}

.parsley-required{ 
  font-weight: 400;
  font-size: 20px;
  color: red;
 display: block;
}  

 
.btnColorGray /*Login page -- login Button color*/
{
    background-color: #D3D3D3;
}

/*Css For Navigation page Start*/

/*.navColor
{
   background-color : #696969;
   /*color:#D3D3D3;
}*/
.itemCnavDivider
{
    background-color:#11C1F3;   
}

/*.item-divider
{
    padding-top:8px;
    padding-bottom:0px;
}*/
.listCnav
{
    line-height:10px;
    /*padding-top:30px !important;*/
}

   .item-content{
    background-color: #58595B !important;
    color:#ffffff !important;
    font-weight:100;
    height:45px;
 
}
  .FloatRight
   {
       float:right;
   }

.coustomColor
{
    background-color: #58595B;
    color:#ffffff !important;
        font-weight:100;
}  

/*Css For Navigation page end*/

/*Setting page CSS Start*/

.cardBgColor
{
    background-color:#EFEFF4;
}

.ionColor {
    color:#11C1F3;
    font-size:20px;
    
}
/*Setting page CSS Ends*/

/*Statistics page Css Starts*/
.IconGreeen
{
    /*background: #76C14B;
    padding: 10px 20px;
    border-radius: 50%;*/
    font-size: 40px;
    color:#76C14B;
    margin-right: 50px;
    margin-left:40px;
    }
.IconBasicBlue
{
    /*background: #11C1F3;
    padding: 10px 10px;
    border-radius: 50%;*/
    font-size: 40px;
    color:#11C1F3;
    margin-right: 50px;
}

.ItemCList
{
    font-weight:400;    
    color:#000;
}

/*Statistics page Css Ends*/




  /*Notification Page CSS Start here*/

  .ItemBlack
  {
      font-weight:400;
      color:#000;
      /*margin-left:100px;*/
  }
    
  /*Notification Page CSS Ends*/
  
  
  /*My Profile Page CSS Starts*/
  /*.aliginRight
  {
     float:right;  -- useless 
  }*/

   
  /*My Profile Page CSS Starts*/