<ion-view view-title="Welcome">
    <ion-content scroll="false">

        <div class="row m-t-25">
            <div class="col p-0 text-center">
                <img src="./img/nooch-logo.svg" class="mainLogo" />
                <p class="slogan purp-text m-b-5">Money Made Simple</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">

                <p id="header" class="f-30" ng-if="screenHeight > 570">Congratulations!</p>

                <p class="animated bounceIn gray-text-dark f-22 m-b-0">Account Created Successfully</p>

            </div>
        </div>

        <div id="welcomeBox" class="row">
            <div class="col p-10 text-center">

                <div class="f-22 f-500 m-b-5">Now What?</div>

                <div class="customList">

                    <div id="item-1">
						<i class="ion-email-unread"></i>
                        1. &nbsp;Confirm your email address
                        <div class="show f-17 f-300">(we sent a link - check your email)</div>
					</div>

                    <div id="item-2">
						<i class="ion-person"></i>
						2. &nbsp;Complete your profile
					</div>

                    <div id="item-3">
						<img src="././img/bank.png" class="bank-icon" />
                        3. &nbsp;Link your bank account
                        <div id="tellMore" class="f-17 f-300" ng-click="tellMeMore()">
                            <i class="ion-help-circled purp-text"></i>
                            Tell me more
                        </div>
					</div>

                </div>

                <div class="p-5" ng-class="{'m-t-25 m-b-5': screenHeight > 570}">
                    <button class="btn btn-success button-block" ng-click="go('profile')">
                        <i class="ion-person m-r-10"></i>
                        Complete Profile Now
					</button>
                </div>

                <div class="text-center">
                    <button class="button btn-link" ng-click="go('home')">
						I'll do this later...
					</button>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>