<ion-view view-title="Welcome">
    <ion-content scroll="false">

        <div class="row m-t-25">
            <div class="col p-0 text-center">
                <img src="./img/nooch-logo.svg" class="mainLogo" />
                <p class="slogan purp-text m-b-5">Money Made Simple</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">

                <p id="header" class="f-24 m-t-5">Congratulations!</p>

                <p class="animated bounceIn gray-text-dark f-19 m-b-0">Account Created Successfully</p>

            </div>
        </div>

        <div id="welcomeBox" class="row m-t-5">
            <div class="col p-10">

                <div class="f-20 f-500 m-b-5 text-center">What's Next?</div>

                <ul>
                    <li>
                        <i class="ion-ios-circle-outline"></i>
                        Confirm your email address
                        <span class="show f-15 f-300">(we sent a link - check your email)</span>
                    </li>

                    <li>
                        <i class="ion-ios-circle-outline"></i>
                        Verify your phoe number
                    </li>

                    <li>
                        <i class="ion-ios-circle-outline"></i>
                        Link your bank account
                        <span id="tellMore" ng-click="tellMeMore()">
                            <i class="ion-help-circled purp-text" style="margin-left: 10%;"></i>
                            Tell me more
                        </span>
                    </li>
                </ul>

                <div class="p-5">
                    <button class="button btn-success button-block" ng-click="go('profile')">
                        <i class="ion-person m-r-10"></i>
                        Complete Profile Now
                        </a>
                </div>

                <div class="text-center">
                    <button class="button btn-link" ng-click="go('home')">I'll do this later...</button>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>